@model AST1.Models.Employerh

@{
    ViewData["Title"]= "ListeEmployers";
}
<h3>@ViewData["Title"]</h3> <hr />
<div>
    <button class="btn btn-primary mb-2" id="btnAdd"> Add Employer</button>
</div>
<div class="container">
    <table class="table table-success table-striped table-responsive table-hover">
        <thead>
            <th>Id Employer</th>
<th>Nom Employer</th>
<th>Prenom Employer</th>
<th>Email Employer</th>
<th>Telephone Employer</th>
<th>Services</th>
<th>Actions</th>
<tbody id="tblBody">

</tbody>
        </thead>
    </table>
    </
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/employerjs.js"></script>
